

<h1> TURN IT UP!</h1>
<br> 
    
    <h3>Name: <%= @song.name %></h3>
    <h3>Artist: <%= @song.artist %></h3>
    <h3>Genre: <%= @song.genre %></h3><br/>
    <h3>Created by: <%= @creator.name %></h3><br/>
    <a href="/songs/<%= @song.id %>/edit">EDIT</a>

    
    
    <form method="POST" action="/songs/<%= @song.id %>">
        <input type="hidden" id="hidden" name="_method" value="DELETE">
        <input type="submit" value="DELETE">
    </form>
    
</br>